.video {
  margin-top: 1rem;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #111;
}
.video > h2 {
  margin-left: 0.5rem;
  width: fit-content;
}
.video_hr {
  width: 120%;
}
.video_container_grid {
  /* width: 100%; */
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 1rem;
  grid-gap: 1rem;
}
.video_card {
  /* width: -moz-fit-content; */
  /* width: fit-content; */
  transition: transform ease-in-out 0.2s;
  /* background-color: pink; */
  height: fit-content;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.video_card > img {
  /* position: relative; */
  /* object-fit: contain; */
  width: 100%;
  /* z-index: 20; */
}
/*  */
.video_card:hover > img {
  transform: scale(1.08);
}

.card_shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;

  left: 0;
  right: 0;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  display: none;
}
.video_card:hover > .card_shadow {
  display: flex;
  font-weight: 700;
  transform: scale(1.08);
}
